<% include head %>
<div class="ui inverted segment">
	  <h3 class="ui inverted blue header" style="width:200px;margin:20px auto;text-align:center">用户登录</h3>
	  <div class="ui inverted form" style="width:200px;margin:0 auto">
		<form method="post">
			<div class="ui left icon input">
				<i class="mail icon"></i>
				<input type="text" placeholder="用户名" name="name">
			</div>
			<br><br>
			<div class="ui left icon input">
				<i class="lock icon"></i>
				<input type="password" placeholder="密码" name="password">
			</div>
			<br><br>
			 <input type="submit" class="ui button fluid" value="登录" style="width:100px;margin:0 auto">
		</form>
	  </div>
</div>
<% include footer %>